{% extends "layout.html" %} {% block header %}
<title>Archive - {{ websiteName }}</title>
{% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
<div class="card">
	{% if session.logged_in %}
	<div class="active-card card-yellow">
		<div class="fab-cards-card">
		  <div class="fab-card"></div>
		  <i class="avatar-card zmdi zmdi-account"></i>
		</div>
		<div class="user">
		  <div class="social-cards-card">
			<div class="social-card"><i class="zmdi zmdi-twitter"></i></div>
			<div class="social-card"><i class="zmdi zmdi-github"></i></div>
			<div class="social-card"><i class="zmdi zmdi-google-plus"></i></div>
			<div class="social-card"><i class="zmdi zmdi-codepen"></i></div>
		  </div>
		  <div class="profile-cards-card">
			<div class="profile-card"><span>{{data[0][0]}}</span>Upvoted</div>
			<div class="profile-card"><span>{{userRepo[0]}}</span>Credibility</div>
			<div class="profile-card"><span>{{data[1][0]}}</span>Downvoted</div>
			<div class="profile-card"><span>{{userRepo[1]}}</span>Points</div>
			<div class="profile-card"><span>2</span>Followers</div>
			<div class="profile-card"><span>5</span>Following</div>
		  </div>
		</div>
	</div>
 	{% endif %}
</div>
<div class="container">
	<ul class="responsive-table">
	  <li class="table-header" style="color: white">
		  {% if not session.logged_in %}
	  	<div class="col col-2">Author Name</div>
		  {% endif %}
	    <div class="col col-2">Title</div>
	    <div class="col col-3">Modified Date</div>
	    <div class="col col-1">Blogs</div>
	  </li>
	  {% for x in posts %}
	  <li class="table-row">
	  	{% if not session.logged_in %}
	  	<div class="col col-4" data-label="Blog-Title">{{ x.authorname}}</div>
		  {% endif %}
	    <div class="col col-2" data-label="Blog-Title">
			{% if x.poststatus == 1 %}
			<i class="fa fa-check-circle" style="color:#008000;" aria-hidden="true"></i>
			{% elif x.poststatus == -1 %}
			<i class="fa fa-times-circle-o" style="color:#FF0000;" aria-hidden="false"></i>
			{% endif %}
			{{ x.posttitle}}
		</div>
	    <div class="col col-3" data-label="Last-Modified-Date">{{ x.postdate }}</div>
	    <div class="col col-1" data-label="Blog"><a href="/post/{{x.posturl}}">View</a></div>
	  </li>
	{% else %}
	<h3>No posts published yet.</h3>
	<p>This website is still new, wait for content to come.</p>
	{% endfor %}
	</ul>
</div>
{% endblock %}
