{% extends "layout.html" %} {% block header %}
<title>Edit Content - {{ websiteName }}</title>
<script>
    function RemoveDisabled() {
        var removedis1 = document.getElementById('disabledtype');
        removedis1.disabled = false;
        var removedis2 = document.getElementById('disabledurl');
        removedis2.disabled = false;
    }
</script>
<script type="text/javascript" src="{{ url_for('show_index') }}static/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "#textarea",
        language : 'en',
        plugins : 'advlist autolink link image lists charmap print preview textcolor emoticons directionality fullscreen table wordcount code',
        toolbar: "undo redo | styleselect | alignleft aligncenter alignright alignjustify ltr rtl | outdent indent blockquote removeformat bullist numlist | forecolor backcolor underline strikethrough italic bold | insertdatetime code emoticons table link image",
    });
</script>
{% endblock %} {% block content %}
{% if session.logged_in %}
<div class="formContainer">
  <form action="{{ url_for('doEdit') }}" method=post onSubmit="javascript: RemoveDisabled();">
  <div class="styled-select slate">
    <select name="themeval">
      {% if post[3] == 0 %}
      <option selected value="0">Theme (Default)</option>
      <option value="1">Theme 1</option>
      <option value="2">Theme 2</option>
      <option value="3">Theme 3</option>
      {% elif post[3] == 1 %}
      <option value="0">Theme (Default)</option>
      <option selected value="1">Theme 1</option>
      <option value="2">Theme 2</option>
      <option value="3">Theme 3</option>
      {% elif post[3] == 2 %}
      <option value="0">Theme (Default)</option>
      <option value="1">Theme 1</option>
      <option selected value="2">Theme 2</option>
      <option value="3">Theme 3</option>
      {% else %}
      <option value="0">Theme (Default)</option>
      <option value="1">Theme 1</option>
      <option value="2">Theme 2</option>
      <option selected value="3">Theme 3</option>
      {% endif %}
    </select>
  </div>
  </br>
  <div class="styled-select slate">
    <select name="contenttype" disabled="disabled" id="disabledtype" />
      {% if contentType == "post" %}
      <option value="post">Publish Post</option>
      {% else %}
      <option value="page">Publish Page</option>
      {% endif %}
    </select>
  </div>
  <br>
  <input type="text" id="comment" name="title" value="{{ post[0] }}" placeholder="Content Title: Some beautiful title here" required> 
  <input type="text" id="comment" name="url" value="{{ post[1] }}" placeholder="Content Link: insert-it-like-this-way-only" required>
  <textarea id="textarea" name="content" rows=10 cols=100>{{ post[2] }}</textarea>
  <button type=submit class="btn">Save Edit</button> 
  </form>
</div>
{% endif %} {% endblock %}
