{% extends "layout.html" %}
{% block header %}
<title>New User - {{ websiteName }}</title>
{% endblock %}

{% block content %}

<script type="text/javascript">
  function checkUsername(){
    x = $('#username').val();
    $.ajax({
      url:'/check-username',
      method: 'POST',
      data: { x:x },
      success: function (result) {
        var inputVal = document.getElementById("username").value;
        if (result == '1') {
            $("#username").attr("disabled", false).css("border","2px solid green");
        }
        else{
            $("#username").attr("disabled", false).css("border","2px solid red");
        }
      }  
    });
}
</script>

<form id="authForm" action="{{ url_for('doRegister') }}" method=post>
  <div class="container">
    <h1>REGISTRATION</h1>
    <p><font color="red">*</font>Please fill in this form to create an account.</p>
    <hr>
    <div class="input-container">
      <i class="fa fa-user icon"></i>
      <input class="input-field" type=text name="username" onchange="checkUsername()" placeholder="Enter Username" id="username" required>
    </div>
    <div class="input-container">
      <i class="fa fa-info icon"></i>
      <input class="input-field" type=text placeholder="Enter Full Name" name="fullname" required>
    </div>
    <div class="input-container">
      <i class="fa fa-envelope icon"></i>
      <input class="input-field" type=email placeholder="Enter Email" name="emailid" required>
    </div>

    <div class="input-container">
      <i class="fa fa-mobile icon"></i>
      <input class="input-field" type=text placeholder="Enter Mobile Number" pattern="[789][0-9]{9}" maxlength=10 name="mobile_no" required>
    </div>

    <div class="input-container" data-tip="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password">
    </div>

    <div class="input-container" data-tip="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Repeat Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="confirmPassword">
    </div>
    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <button type="submit" class="btn">Register</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="{{ url_for('login') }}">Sign in</a>.</p>
  </div>
</form> 
<div align="center">
{% with messages = get_flashed_messages() %}
       {% if messages %}
             {% for message in messages %}
             <h5>{{ message }}</h5>
             {% endfor %}
       {% endif %}
    {% endwith %}
</div>
{% endblock %}

