{% extends "layout.html" %} {% block header %}
<title>Post List - {{ websiteName }}</title>
{% endblock %} {% block content %}
<div class="container">
	<ul class="responsive-table">
	  <li class="table-header" style="color: white">
	    <div class="col col-2">Title</div>
	    <div class="col col-3">Modified Date</div>
	    <div class="col col-1">Blogs</div>
	  </li>
	  {% for x in posts %}
	  <li class="table-row">
	    <div class="col col-2" data-label="Blog-Title">{{ x.posttitle}}</div>
	    <div class="col col-3" data-label="Last-Modified-Date">{{ x.postdate[0:10] }}</div>
	    <div class="col col-1" data-label="Blog"><a href="/post/{{x.posturl}}">View</a></div>
	  </li>
	{% else %}
	<h3>No Post yet.</h3>
    <p>This Admin is still new, wait for content to come.</p>
	{% endfor %}
	</ul>
</div>
{% endblock %}
